<section
  class="w-100 h-100 bg-dark d-flex align-items-center justify-content-center p-3"
>
  <div class="card align-self-center flex-row w-75 m-3 p-2">
    <div style="display: flex; flex-direction: column;">
    {{#each allMyOrdersProducts}}
     <div class="w-100 h-50">
       <div class="w-50 h-50 mt-4">
        <img
          class="card-img-top rounded"
          src="productImage/{{image.[0]}}"
          alt="Card image cap"
        />
      </div>
     </div>
    {{/each}}
    </div>
    <div class="w-100 text-center">
      <div class="card-body">
        <h6 class="card-title">Order Id <h5>{{_id}}</h5></h6>
        <p class="card-text"><span>Owner:
            {{address.name}}<br />Email:
            {{address.email}}<br />Address:
            {{address.address}}<br />City:
            {{address.city}}
            <br />Phone:
            {{address.phone}}</span></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Payment Method: {{paymentMethod}}</li>
        <li class="list-group-item">Order Status: {{orderStatus}}</li>
        <li class="list-group-item">Total Amount: {{totalAmount}}</li>
        <li class="list-group-item">Date: {{date}}</li>
      </ul>
      <div class="card-body">
        <a href="/myorders" class="card-link">Orders</a>
      </div>
    </div>
  </div>
</section>
<section class="w-100 h-50 bg-dark">
<p class="text-dark" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quasi blanditiis ipsum. Officiis quasi expedita recusandae voluptate porro possimus incidunt labore ut fugiat, dignissimos quidem et dicta minima magni ex!</p>
</section>