{{#if adminBlockedUser}}
  <h2>Sorry admin Blocked Your Account</h2>
  <p>Click here!</p>
  <button onclick="location.href='/'" class="btn btn-primary">Go To Home</button>
{{else}}

  <div>
    <section class="ftco-section">
      <div class="container border rounded">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center mb-2">
            <h2 class="heading-section text-success">Hello!</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-7 col-lg-5">
            <div class="login-wrap p-4 p-md-5">
              <div class="d-flex">
                <div class="w-100">
                  <h3 class="mb-4">Sign Up</h3>
                </div>

              </div>
              {{#if userExists}}
                <h3 class="text-danger">User Already Exists</h3>
                <p class="text-danger">use another email</p>
              {{/if}}
              <form action="/signup" method="post" class="login-form">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control rounded-left"
                    name="name"
                    placeholder="name"
                    value="{{name}}"
                    required
                  />
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control rounded-left"
                    name="email"
                    placeholder="email"
                    value="{{emailWOU}}"
                    required
                  />
                </div>
                <div class="form-group">
                  <input
                    type="number"
                    class="form-control rounded-left"
                    name="phone"
                    placeholder="phone"
                    value="{{phone}}"
                    required
                  />
                </div>
                <div class="form-group">

                  <input
                    type="password"
                    name="password"
                    class="form-control rounded-left"
                    placeholder="Password"
                    value="{{password}}"
                    required
                  />
                </div>
                <div class="form-group d-flex align-items-center">
                  <div class="w-100">
                    <label class="checkbox-wrap checkbox-primary mb-0">Save
                      Password
                      <input type="checkbox" checked />
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="w-100 d-flex justify-content-end">

                    <input
                      type="submit"
                      value="SignUp"
                      class="btn btn-primary rounded submit"
                    />
                  </div>
                </div>
                <div class="form-group mt-4">
                  <div class="w-100 text-center">
                    <p class="mb-1">Already have an account?
                      <a href="/signin">Sign In</a></p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
{{/if}}